**Visualizando a base de dados**

**link da base utilizada https://www.kaggle.com/datasets/sootersaalu/amazon-top-50-bestselling-books-2009-2019?resource=download**

**Tarefas:**

1. Conhecer a base de dados e quais tipos de dados temos nela;
2. Verificar quantos autores distintos temos em nossa base;
3. Verificar quantos livros distintos temos em nossa base;
4. Verificar quantos gêneros temos em nossa base;

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('books.csv', sep = ",")

In [3]:
dados

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [4]:
# visualizando o tipo de dados de cada coluna
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [42]:
# Auterando o nome das colunas
dados.columns = ['Nome', 'Autor',  'Notas_leitor','Resenhas', 'Preço_livro', 'Ano', 'Genero']

In [43]:
dados.columns

Index(['Nome', 'Autor', 'Notas_leitor', 'Resenhas', 'Preço_livro', 'Ano',
       'Genero'],
      dtype='object')

In [59]:
dados

,Nome,Autor,Notas_leitor,Resenhas,Preço_livro,Ano,Genero
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [61]:
dados['Genero'].shape[0]

550

In [44]:
#criando um dataframe com os tipos de dados que temos em cada coluna
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipo'])

In [14]:
tipos_de_dados.columns.name = 'Colunas'

In [16]:
tipos_de_dados

Colunas          Tipo
Nome           object
Autor          object
Notas_leitor  float64
Resenhas        int64
Preço_livro     int64
Ano             int64
Gênero         object

**Visualizando quantos autores distintos temos em nossa base**

In [33]:
# criando uma lista com todos os autores presente, sem repetição
autores = (dados['Autor'].drop_duplicates())

In [34]:
autores

0                      JJ Smith
1                  Stephen King
2            Jordan B. Peterson
3                 George Orwell
4      National Geographic Kids
                 ...
537              Cheryl Strayed
538                 Ken Follett
539                 Geneen Roth
540               R. J. Palacio
546                 Jen Sincero
Name: Autor, Length: 248, dtype: object

In [35]:
autores.shape[0]

248

In [36]:
print('Temos {} autores distintos em nossa base de dados'.format(autores.shape[0]))

Temos 248 autores distintos em nossa base de dados

**Visualizando quantos livros distintos temos em nossa base**

In [38]:
livros = (dados['Nome'].drop_duplicates())

In [39]:
livros

0                          10-Day Green Smoothie Cleanse
1                                      11/22/63: A Novel
2                12 Rules for Life: An Antidote to Chaos
3                                 1984 (Signet Classics)
4      5,000 Awesome Facts (About Everything!) (Natio...
                             ...
538    Winter of the World: Book Two of the Century T...
539    Women Food and God: An Unexpected Path to Almo...
540                                               Wonder
545         Wrecking Ball (Diary of a Wimpy Kid Book 14)
546    You Are a Badass: How to Stop Doubting Your Gr...
Name: Nome, Length: 351, dtype: object

In [40]:
livros.shape[0]

351

In [41]:
print('Temos {} livros distintos presentes em nossa base de dados.'.format(livros.shape[0]))

Temos 351 livros distintos presentes em nossa base de dados.

**Visualizando quantos gêneros diferentes temos em nossa base**

In [45]:
generos = (dados['Genero'].drop_duplicates())

In [50]:
generos.shape[0]

2

In [69]:
selecao1 = (dados['Genero'] == 'Non Fiction')

In [70]:
selecao1

0       True
1      False
2       True
3      False
4       True
       ...
545    False
546     True
547     True
548     True
549     True
Name: Genero, Length: 550, dtype: bool

In [71]:
nao_ficcao = dados[selecao1].shape[0]

In [75]:
selecao2 = dados['Genero'] == 'Fiction'

In [76]:
ficcao = dados[selecao2].shape[0]

**Concluindo:**

In [81]:
print('Temos {} de livros distintos em nossa base de dados. \nTemos {} autores em nossa base de dados.\ne temos {} livros de Não Ficão e {} livros de Ficção em nossa base de dados.'. format(livros.shape[0], autores.shape[0], nao_ficcao, ficcao))

Temos 351 de livros distintos em nossa base de dados.
Temos 248 autores em nossa base de dados.
e temos 310 livros de Não Ficão e 240 livros de Ficção em nossa base de dados.